<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/checkbox.css">
    <link href="/css/component-custom-switch.css" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <h3>Device List</h3>
        </div>
        <ul class="object-tools">
            <li>
                <a href="/addDevice" class="addlink">
                    Add Device
                </a>
            </li>
        </ul>
        <table class="table table-dark">
            <thead>
                <th class="th">ID</th>
                <th class="th">MAC ID</th>
                <th class="th">NAME</th>
                <th class="th">HOST</th>
                <th class="th">PORT</th>
                <th class="th">UNIT ID</th>
                <th class="th">ENABLEMENT</th>
            </thead>
            <tbody>
                {{#eocrs}}
                <tr>
                    <td class="td">
                        <a href="/device?id={{ID}}">{{ID}}</a>
                    </td>
                    <td class="td">{{MAC_ID}}</td >
                    <td class="td">{{NAME}}</td> 
                    <td class="td">{{HOST}}</td> 
                    <td class="td">{{PORT}}</td> 
                    {{#if UNIT_ID}}
                    <td class="td">EOCR Device</td>
                    {{else}}
                    <td class="td">EXPORT DEVICE</td>
                    {{/if}}
                    {{#if ENABLED}}
                    <td class="td">
                        <div class="custom-switch custom-switch-label-status pl-0">
                            <input class="custom-switch-input" id="{{MAC_ID}}" type="checkbox" checked>
                            <label class="custom-switch-btn" for="{{MAC_ID}}"></label>
                        </div>
                    </td>
                    {{else}}
                    <td class="td">
                        <div class="custom-switch custom-switch-label-status pl-0">
                            <input class="custom-switch-input" id="{{MAC_ID}}" type="checkbox">
                            <label class="custom-switch-btn" for="{{MAC_ID}}"></label>
                        </div>
                    </td>
                    {{/if}}
                </tr>
                {{/eocrs}}
            </tbody>
        </table>
        
    </div>
    <input type="hidden" id="host" value={{host}}>
    {{>footer}}
    <script src="/js/device.js"></script>
    
</body>
</html>